@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Tajawal:wght@400;700&display=swap');

/* Apply default font */
body {
  @apply font-cairo;
}
@layer utilities {
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  .delay-150 {
    animation-delay: 150ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }
}
