@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;700;800&family=Tajawal:wght@400;500;700&display=swap');

html {
  direction: rtl;
  font-family: 'Tajawal', 'sans-serif';
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', 'sans-serif';
}
